services:
  - type: web
    name: demo-spring-app
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: DB_URL
        sync: false
      - key: DB_USERNAME
        sync: false
      - key: DB_PASSWORD
        sync: false
